# Auto detect text files and normalize line endings to LF
* text=auto

# Documents
*.md text
*.txt text

# Web files
*.html text
*.css text
*.js text
*.json text
*.xml text
*.yml text
*.yaml text

# Images
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.svg text
*.ico binary

# Fonts
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
